.ui-bar-a {
    background: linear-gradient(#3C3C3C, #111111) repeat scroll 0 0 #111111;
    border: 1px solid #333333;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 0 #000000;
}

.ui-bar-a, .ui-bar-a input, .ui-bar-a select, .ui-bar-a textarea, .ui-bar-a button {
    font-family: Helvetica,Arial,sans-serif;
}

.ui-bar-a .ui-link-inherit {
    color: #FFFFFF;
}

.ui-bar-a a.ui-link {
    color: #7CC4E7;
    font-weight: bold;
}

.ui-bar-a a.ui-link:visited {
    color: #2489CE;
}

.ui-bar-a a.ui-link:hover {
    color: #2489CE;
}

.ui-bar-a a.ui-link:active {
    color: #2489CE;
}

.ui-body-a, .ui-overlay-a {
    background: linear-gradient(#444444, #222222) repeat scroll 0 0 #222222;
    border: 1px solid #444444;
    color: #FFFFFF;
    font-weight: normal;
    text-shadow: 0 1px 0 #111111;
}

.ui-overlay-a {
    background-image: none;
    border-width: 0;
}

.ui-body-a, .ui-body-a input, .ui-body-a select, .ui-body-a textarea, .ui-body-a button {
    font-family: Helvetica,Arial,sans-serif;
}

.ui-body-a .ui-link-inherit {
    color: #FFFFFF;
}

.ui-body-a .ui-link {
    color: #2489CE;
    font-weight: bold;
}

.ui-body-a .ui-link:visited {
    color: #2489CE;
}

.ui-body-a .ui-link:hover {
    color: #2489CE;
}

.ui-body-a .ui-link:active {
    color: #2489CE;
}

.ui-btn-up-a {
    background: linear-gradient(#444444, #2D2D2D) repeat scroll 0 0 #333333;
    border: 1px solid #111111;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
}

.ui-btn-up-a:visited, .ui-btn-up-a a.ui-link-inherit {
    color: #FFFFFF;
}

.ui-btn-hover-a {
    background: linear-gradient(#555555, #383838) repeat scroll 0 0 #444444;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
}

.ui-btn-hover-a:visited, .ui-btn-hover-a:hover, .ui-btn-hover-a a.ui-link-inherit {
    color: #FFFFFF;
}

.ui-btn-down-a {
    background: linear-gradient(#202020, #2C2C2C) repeat scroll 0 0 #222222;
    border: 1px solid #000000;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
}

.ui-btn-down-a:visited, .ui-btn-down-a:hover, .ui-btn-down-a a.ui-link-inherit {
    color: #FFFFFF;
}

.ui-btn-up-a, .ui-btn-hover-a, .ui-btn-down-a {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.ui-bar-b {
    background: linear-gradient(#6FACD5, #497BAE) repeat scroll 0 0 #5E87B0;
    border: 1px solid #456F9A;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #3E6790;
}

.ui-bar-b, .ui-bar-b input, .ui-bar-b select, .ui-bar-b textarea, .ui-bar-b button {
    font-family: Helvetica,Arial,sans-serif;
}

.ui-bar-b .ui-link-inherit {
    color: #FFFFFF;
}

.ui-bar-b a.ui-link {
    color: #DDF0F8;
    font-weight: bold;
}

.ui-bar-b a.ui-link:visited {
    color: #DDF0F8;
}

.ui-bar-b a.ui-link:hover {
    color: #DDF0F8;
}

.ui-bar-b a.ui-link:active {
    color: #DDF0F8;
}

.ui-body-b, .ui-overlay-b {
    background: linear-gradient(#DDDDDD, #CCCCCC) repeat scroll 0 0 #F3F3F3;
    border: 1px solid #999999;
    color: #222222;
    font-weight: normal;
    text-shadow: 0 1px 0 #FFFFFF;
}

.ui-overlay-b {
    background-image: none;
    border-width: 0;
}

.ui-body-b, .ui-body-b input, .ui-body-b select, .ui-body-b textarea, .ui-body-b button {
    font-family: Helvetica,Arial,sans-serif;
}

.ui-body-b .ui-link-inherit {
    color: #333333;
}

.ui-body-b .ui-link {
    color: #2489CE;
    font-weight: bold;
}

.ui-body-b .ui-link:visited {
    color: #2489CE;
}

.ui-body-b .ui-link:hover {
    color: #2489CE;
}
.ui-body-b .ui-link:active {
    color: #2489CE;
}
.ui-btn-up-b {
    background: linear-gradient(#5F9CC5, #396B9E) repeat scroll 0 0 #396B9E;
    border: 1px solid #044062;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #194B7E;
}
.ui-btn-up-b:visited, .ui-btn-up-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-b {
    background: linear-gradient(#6FACD5, #4272A4) repeat scroll 0 0 #4B88B6;
    border: 1px solid #00415E;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #194B7E;
}
.ui-btn-hover-b:visited, .ui-btn-hover-b:hover, .ui-btn-hover-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-b {
    background: linear-gradient(#295B8E, #3E79B5) repeat scroll 0 0 #4E89C5;
    border: 1px solid #225377;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #194B7E;
}
.ui-btn-down-b:visited, .ui-btn-down-b:hover, .ui-btn-down-b a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-b, .ui-btn-hover-b, .ui-btn-down-b {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-c {
    background: linear-gradient(#F0F0F0, #DDDDDD) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #B3B3B3;
    color: #3E3E3E;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-bar-c .ui-link-inherit {
    color: #3E3E3E;
}
.ui-bar-c a.ui-link {
    color: #7CC4E7;
    font-weight: bold;
}
.ui-bar-c a.ui-link:visited {
    color: #2489CE;
}
.ui-bar-c a.ui-link:hover {
    color: #2489CE;
}
.ui-bar-c a.ui-link:active {
    color: #2489CE;
}
.ui-bar-c, .ui-bar-c input, .ui-bar-c select, .ui-bar-c textarea, .ui-bar-c button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-c, .ui-overlay-c {
    background: linear-gradient(#F9F9F9, #EEEEEE) repeat scroll 0 0 #F9F9F9;
    border: 1px solid #AAAAAA;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-overlay-c {
    background-image: none;
    border-width: 0;
}
.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-c .ui-link-inherit {
    color: #333333;
}
.ui-body-c .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-body-c .ui-link:visited {
    color: #2489CE;
}
.ui-body-c .ui-link:hover {
    color: #2489CE;
}
.ui-body-c .ui-link:active {
    color: #2489CE;
}
.ui-btn-up-c {
    background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-up-c:visited, .ui-btn-up-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-hover-c {
    background: linear-gradient(#F6F6F6, #E0E0E0) repeat scroll 0 0 #DFDFDF;
    border: 1px solid #BBBBBB;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-hover-c:visited, .ui-btn-hover-c:hover, .ui-btn-hover-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-down-c {
    background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6;
    border: 1px solid #BBBBBB;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-down-c:visited, .ui-btn-down-c:hover, .ui-btn-down-c a.ui-link-inherit {
    color: #2F3E46;
}
.ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-d {
    background: linear-gradient(#DDDDDD, #BBBBBB) repeat scroll 0 0 #BBBBBB;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #EEEEEE;
}
.ui-bar-d, .ui-bar-d input, .ui-bar-d select, .ui-bar-d textarea, .ui-bar-d button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-d .ui-link-inherit {
    color: #333333;
}
.ui-bar-d a.ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-bar-d a.ui-link:visited {
    color: #2489CE;
}
.ui-bar-d a.ui-link:hover {
    color: #2489CE;
}
.ui-bar-d a.ui-link:active {
    color: #2489CE;
}
.ui-body-d, .ui-overlay-d {
    background: linear-gradient(#FFFFFF, #FFFFFF) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-overlay-d {
    background-image: none;
    border-width: 0;
}
.ui-body-d, .ui-body-d input, .ui-body-d select, .ui-body-d textarea, .ui-body-d button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-d .ui-link-inherit {
    color: #333333;
}
.ui-body-d .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-body-d .ui-link:visited {
    color: #2489CE;
}
.ui-body-d .ui-link:hover {
    color: #2489CE;
}
.ui-body-d .ui-link:active {
    color: #2489CE;
}
.ui-btn-up-d {
    background: linear-gradient(#FAFAFA, #F6F6F6) repeat scroll 0 0 #FFFFFF;
    border: 1px solid #BBBBBB;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-up-d:visited, .ui-btn-up-d a.ui-link-inherit {
    color: #333333;
}
.ui-btn-hover-d {
    background: linear-gradient(#EEEEEE, #FFFFFF) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #333333;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-hover-d:visited, .ui-btn-hover-d:hover, .ui-btn-hover-d a.ui-link-inherit {
    color: #333333;
}
.ui-btn-down-d {
    background: linear-gradient(#E5E5E5, #F2F2F2) repeat scroll 0 0 #EEEEEE;
    border: 1px solid #AAAAAA;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-down-d:visited, .ui-btn-down-d:hover, .ui-btn-down-d a.ui-link-inherit {
    color: #333333;
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-bar-e {
    background: linear-gradient(#FCEDA7, #FBEF7E) repeat scroll 0 0 #FADB4E;
    border: 1px solid #F7C942;
    color: #333333;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-bar-e, .ui-bar-e input, .ui-bar-e select, .ui-bar-e textarea, .ui-bar-e button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-e .ui-link-inherit {
    color: #333333;
}
.ui-bar-e a.ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-bar-e a.ui-link:visited {
    color: #2489CE;
}
.ui-bar-e a.ui-link:hover {
    color: #2489CE;
}
.ui-bar-e a.ui-link:active {
    color: #2489CE;
}
.ui-body-e, .ui-overlay-e {
    background: linear-gradient(#FFFADF, #FFF3A5) repeat scroll 0 0 #FFF9DF;
    border: 1px solid #F7C942;
    color: #222222;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-overlay-e {
    background-image: none;
    border-width: 0;
}
.ui-body-e, .ui-body-e input, .ui-body-e select, .ui-body-e textarea, .ui-body-e button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-body-e .ui-link-inherit {
    color: #222222;
}
.ui-body-e .ui-link {
    color: #2489CE;
    font-weight: bold;
}
.ui-body-e .ui-link:visited {
    color: #2489CE;
}
.ui-body-e .ui-link:hover {
    color: #2489CE;
}
.ui-body-e .ui-link:active {
    color: #2489CE;
}
.ui-btn-up-e {
    background: linear-gradient(#FFEFAA, #FFE155) repeat scroll 0 0 #FADB4E;
    border: 1px solid #F4C63F;
    color: #222222;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-up-e:visited, .ui-btn-up-e a.ui-link-inherit {
    color: #222222;
}
.ui-btn-hover-e {
    background: linear-gradient(#FFF5BA, #FBDD52) repeat scroll 0 0 #FBE26F;
    border: 1px solid #F2C43D;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-hover-e:visited, .ui-btn-hover-e:hover, .ui-btn-hover-e a.ui-link-inherit {
    color: #333333;
}
.ui-btn-down-e {
    background: linear-gradient(#F8D94C, #FADB4E) repeat scroll 0 0 #FCEDA7;
    border: 1px solid #F2C43D;
    color: #111111;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.ui-btn-down-e:visited, .ui-btn-down-e:hover, .ui-btn-down-e a.ui-link-inherit {
    color: #333333;
}
.ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.ui-page { 
background: #e5e5e5;
}
.ui-body {
background: #e5e5e5;
}
.ui-content {
background: #e5e5e5;
}
h1, h2, h3, h4, h5, h6 {

}

.list-divider {
    text-align: center;
    font-size: 15pt;
}
.book-list {
    text-align: center;
}

.book-name {
    font-size: 125%;
}

.book-time {
    font-weight: bold;
    font-size: 85%;
}

.buttons {
    margin-top: 3%;
    margin-bottom: 3%;
}

.list-phone {
    position: relative !important;
    left: 2% !important;
}

.timeslot-button {
    position: relative !important;
    width: 35% !important;
    left: 57% !important;
    bottom: 5px !important;
}

.timeslot-time {
    position: relative !important;
    font-size: 120% !important;
    font-weight: bold !important;
    top: 40px !important;
}

.name2 {
    font-size: 150% !important;
}

.address2 {
    position: relative !important;
    font-size: 100% !important;
    bottom: 1% !important;
}

.email2 {
    position: relative !important;
    font-size: 100% !important;
    bottom: 1% !important;
}
 .phone2 {
    position: relative !important;
    font-size: 100% !important;
    bottom: 1% !important;
 }

form {
    height: 100%;
    width: 100%;
    bottom: 100%;
}

li {
    height: 100%;
    width: 100%;
    bottom: 100%;
    top: 100%;
} 

#side_panel {
  width: 165px;
  height: 100%;
  display: block !important;
  float: left;
}

.menulist {
    background-color: #383737;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e1d1d), color-stop(21%, #383737));
}

#side_panel ul {
    margin: 0;
    padding: 0;
    width: inherit;
}

#side_panel ul li {
    list-style-type: none;
    margin: 0px 0;
}

#side_panel ul li a:link, #side_panel ul li a:visited {
  border-bottom: solid #333 1px;
  box-shadow: 0 1px 0 #727272;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  width: 130px;
  display: block;
  padding: 10px 0px 10px 10px;
  text-shadow: 0px 1px 1px #000000;
}
 .content {
    height: 100%;
 }